<div class="row-fluid span12" id="container">
  <div id="world" class="fl">

  </div>
  <div id="national" class="fl">

  </div>
  <div id="economics" class="fl">

  </div>
  <div id="science" class="fl">

  </div>

  <div id="sports" class="fl">

  </div>

  <div id="health" class="fl">

  </div>
</div>
