<div class="row-fluid span12" id="container">
  <div id="popular" class="fl">

  </div>
  <div id="world" class="fl">

  </div>
  <div id="tech" class="fl">

  </div>
  <div id="health" class="fl">

  </div>
</div>
